#cvprmenubar {padding:0; width:800px; border-bottom:1px solid black; background:#D0D0D0}
#cvprmenubar li { float:left; list-style: none;bottom:0;}
#cvprmenubar li a { display:block; color:#606060; text-decoration:none; background:#E8E8E8; padding: 6px 10px; border-right:1px solid #D0D0D0; border-bottom:1px solid black; border-top-left-radius:5px; border-top-right-radius:5px;}
#cvprmenubar li a:hover { background:#F8F8F8; }
#cvprmenubar li ul {margin: 0; padding: 0; position: absolute; visibility: hidden; border: 1px solid black; border-top: 1px solid black; z-index:100}
#cvprmenubar li ul li {float:none; display: inline;}
#cvprmenubar li ul li a { width: auto; background:#DDDDDD; border-bottom:none; border-top-left-radius:0px; border-top-right-radius:0px}
#cvprmenubar li ul li a:hover { background:#BBBBBB;}
